.btn-vk {
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #0077ff;
    border-radius: 8px;
    &:hover,
    &:visited,
    &:active {
        border-color: #0077ff;
        background: #0077ff;
        color: #fff;
    }
}
